/* Calendar.css */
/* Styles pour le calendrier et la police Sora */

.Sample {
    font-family: 'Sora', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  .Sample__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: 'Sora';
  }
  
  .Sample__container > * > * {

    border: none;
  }
  
  .Sample__container__content {
    display: flex;
    max-width: 100%;
    flex-basis: 420px;
    flex-direction: column;
    flex-grow: 100;
    align-items: stretch;
   
  }
  
  .Sample__container__content .react-calendar {
    margin: 0 auto;
  }
  